<p id="notice"><%= notice %></p>

<p>
  <b>Event ID</b>
  <%= @tag.event_id %>
</p>

<p>
  <b>User At Event ID</b>
  <%= @tag.user_at_event_ids %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
